.imagen-logo{
  width: 20%;
  margin-top: 20%;
  border-radius: 30px;
}

.titulo-menu{
    font-size: 22px;
    line-height: 90px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 12px 12px #271d1d;
}

.menu-boton{
  margin-top: 25px;
}

.menu-boton button{
    font-size: 20px;
}
.iconos {
    margin-top: 25px;
}
.Icono{
    margin-top: 25px;
}
.contenedor-menu{
    border: 12px solid #178da1;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0px 12px 12px #178da1;
}